.navadmin{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 20px;
}
li{
    cursor: pointer;
}
i{
    font-size: 20px;
    color: white;
}
.hidden{
    display: none;
    width: 500px;
    height: 500px;
}
.scrollable-container {
    max-height: 400px; /* Set maximum height for the container */
    overflow-x: auto; /* Enable vertical scrolling */
  }